<%= render 'longer_feature' %>

<div class="row mb-2">
  <%= render 'medium'%>
  <%= render 'medium'%>
</div>

<div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        From my experience
      </h3>

      <p>
      <%= link_to 'Novo Artigo', new_article_path, class: "btn btn-primary" %>
      </p>

      <% @articles.each do | article | %>
          <%= render article%>
      <% end %>

      <%= render 'pagination'%>
    </div>
    <%= render 'right_side' %>
</div>

