<h1><%= @article.title %></h1>

<p><%= @article.body %></p>
<p>Ultimo acesso em: <%= Time.zone.now %></p>
<p>Arquivo atualizado em: <%= @article.updated_at %></p>

<ul>
  <%= link_to 'Editar', edit_article_path(@article)%>
  <%= link_to 'Voltar', root_path %>
</ul>

